extends ../layout/main.pug

include ../blocks/pageTop/_pageTop.pug
include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	+pageTop()
	.container.portfolio 
		h1 Портфолио
	.container
		+filters()
	.container 
		.row
			.col-4 
				+filterSettings()
			.col-8 
				+cards()
	.container
		.row.contacts 
			h4.grey Контакты
			h2 Позвоните или посетите наш офис на производстве
		.row 
			.col 
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2230.3396413417436!2d37.48216231535052!3d56.01279037937823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b53ceda073c63f%3A0x12b84ec8d64f873a!2z0YPQuy4g0JzQsNGP0LrQvtCy0YHQutC-0LPQviwgNSwg0JvQvtCx0L3Rjywg0JzQvtGB0LrQvtCy0YHQutCw0Y8g0L7QsdC7LiwgMTQxNzMw!5e0!3m2!1sru!2sru!4v1659635051725!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

	+topLine()
	.container
		+in-c('radio', 'sdasdasdasd')
		+in-c('radio', 'sdasdasdasd')
	form
		+input('fsdfs','tel')(required)
		button  btn
	+headerBlock

	+soc()
	+sForm()
	//- +sForm()
	//- - let list = items[0].title
	//- p= list
	.container
		each item in items
			li 
				h2= item.title
				p= item.text
	//- +sContact()
	
	+footer()
      



